<h1> <i class="align-middle" data-feather="shopping-cart"></i> <span class="align-middle" > Relatorio de Compras</h1>

<hr>

<br>

<br> 
<br>
<table class="table table-hover my-0">
  <thead>
    <tr>
      <th>PROTOCOLO DA COMPRA</th>  
      <th>DATA DA COMPRA</th>     
    </tr>
  </thead>

  <tbody>
    <% @compras.each do |compra| %>
      <tr>
        <td> <%= link_to "#{compra.protocolo}".upcase, detalhe_compra_path(compra)%> </td>
  
       <td><%= compra.created_at.strftime("%d/%m/%Y") %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="digg_pagination"> 
     <%= will_paginate @compras, :container => false%> 
</div>